.title {
    color: rgb(43, 189, 70);
    font-family: Arial;
    font-weight: bold;
    font-size: 18pt;
}

.content {
    color: blueviolet;
    font-family: Arial;
    font-style: italic;
    font-size: 14pt;
}

.link {
    color: green;
    text-decoration: none;
}

.para {
    color: rgb(97, 73, 203);
}